@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?uw5h9w');
    src:  url('../../fonts/icomoon.eot?uw5h9w#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?uw5h9w') format('truetype'),
      url('../../fonts/icomoon.woff?uw5h9w') format('woff'),
      url('../../fonts/icomoon.svg?uw5h9w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-basket:before {
    content: "\e903";
    color: #fed136;
}
.icon-laptop:before {
    content: "\e905";
    color: #fed136;
}
.icon-locked:before {
    content: "\e906";
    color: #fed136;
}
.icon-pinterest:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-google:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e904";
}
  